<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Include Bootstrap css from CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
  <title>EJS Partials</title>
</head>

<header>
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <!-- Main logo and home link -->
    <a class="navbar-brand navbar-logo" href="/">
      <!-- Logo -->
      <svg xmlns=" http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-bag-heart-fill"
        viewBox="0 0 16 16">
        <path
          d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
      </svg>
      SuperStuff
    </a>

    <!-- Hamburger menu button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>

    <!-- Hamburger menu items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
        </div>

        <li class="nav-item">
          <a class="nav-link" href="/signup"><i class="far fa-user-plus"></i>Sign Up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop"><i class="far fa-shopping-basket"></i>Shop</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<main class="container">